<section class="flex flex-col sm:flex-row justify-center items-center lg:items-start lg:flex-nowrap pt-8 lg:pt-14 mb-6
                lg:mb-10 gap-6 lg:gap-x-14 pb-12 lg:pb-24 border-b border-neutral-200 px-4 lg:px-0">
  <!-- Left side of the section -->
  <div class="flex justify-center lg:items-end flex-col w-full lg:w-auto xl:w-118 2xl:min-h-100 sm:border-r-[0.01rem]
              sm:border-gray-200 lg:pr-24 -me-6 lg:me-0">
    <h2 class="font-olympic-sans text-xl leading-8 font-bold mb-3 lg:mr-10 lg:mt-6 pl-8 lg:pl-0">
      Die Olympischen Spiele
    </h2>

    <ul class="flex flex-col m-0">
      @for (item of miscService.nav_items; track $index) {
        <li class="relative text-base leading-6 mb-2 lg:mb-3 hover:text-[rgb(215,195,120)] transition-colors
                   duration-100">
          @if (item.path) {
            <a class="pl-8 lg:pl-10" [routerLink]="item.path" [routerLinkActiveOptions]="{ exact: true }"
               routerLinkActive="text-[rgb(215,195,120)] before:content-['—'] before:absolute before:left-0" >
              {{ item.label }}
            </a>
          }

          @if (item.externalUrl) {
            <a class="pl-8 lg:pl-10" [href]="item.externalUrl">{{ item.label }}</a>
          }
        </li>
      }
    </ul>
  </div>

  <!-- Right side of the section -->
  <h1 class="font-olympic-headline w-full lg:w-fit uppercase text-5xl md:text-6xl lg:text-[5rem] 2xl:text-[100px]
             leading-tight 2xl:leading-26 my-0 lg:pl-[1.9rem] xl:max-w-216 text-center lg:text-left lg:self-center">

    <span class="font-olympic-headline text-[rgb(215,195,120)] block">Winterspiele 2026</span>
    @if (router.url === '/detailed') {
      Detailierte Ansicht
    } @else {
      Die Ergebnisse
    }
  </h1>
</section>
