<!-- Header & Info Section -->
<app-header />
<app-breadcrumb />

<!-- Page Content -->
<section class="w-full md:max-w-3/4 mx-auto mb-6 lg:mb-10 p-6 lg:p-0">

  <!-- Filter Actions - Result Container -->
  <div class="bg-neutral-100 mb-8 md:mb-12 p-4 md:p-10 md:px-23 md:pb-6 border-neutral-200 border-t">
    <h2 class="text-4xl text-center lg:text-start tracking-wide font-normal text-gray-900 mb-8">
      {{ 'PAGE.DETAILED.FILTER.TITLE' | translate }}
    </h2>

    <!-- First Row (Filter Selects) -->
    <div class="flex flex-wrap gap-6">

      <div class="w-full sm:w-[calc(50%-12px)] md:flex-1 min-w-50">
        <app-filter-select [label]="'PAGE.DETAILED.FILTER.VIEW' | translate" id="view-picker" [(value)]="selectedView" [bold]="true">
          <option value="athletes">{{ 'PAGE.DETAILED.FILTER.VIEW.ATHLETES' | translate }}</option>
          <option value="countries">{{ 'PAGE.DETAILED.FILTER.VIEW.COUNTRIES' | translate }}</option>
        </app-filter-select>
      </div>
      <div class="w-full sm:w-[calc(50%-12px)] md:flex-1 min-w-50">
        <app-filter-select [label]="'PAGE.DETAILED.FILTER.COUNTRY' | translate" id="filter-country" [(value)]="filterCountry">
          <option value="all">{{ 'PAGE.DETAILED.FILTER.COUNTRY.PLACEHOLDER' | translate }}</option>
          @for (country of countries(); track country) {
            <option [value]="country">{{ country }}</option>
          }
        </app-filter-select>
      </div>
      @if (selectedView() != 'countries') {
        <div class="w-full sm:w-[calc(50%-12px)] md:flex-1 min-w-50">
          <app-filter-select [label]="'PAGE.DETAILED.FILTER.SPORTS' | translate" id="filter-sports" [(value)]="filterSport">
            <option value="all">{{ 'PAGE.DETAILED.FILTER.SPORTS.PLACEHOLDER' | translate }}</option>
            @for (sport of sports(); track sport.rawName) {
              <option [value]="sport.rawName">{{ sport.name }}</option>
            }
          </app-filter-select>
        </div>
      }
      <div class="w-full sm:w-[calc(50%-12px)] md:flex-1 min-w-50">
        <app-filter-select [label]="'PAGE.DETAILED.FILTER.MEDAL' | translate" id="filter-medal" [(value)]="filterMedal">
          <option value="all">{{ 'PAGE.DETAILED.FILTER.MEDAL.PLACEHOLDER' | translate }}</option>
          <option value="gold">🥇 {{ 'MODAL.GOLD' | translate }}</option>
          <option value="silver">🥈 {{ 'MODAL.SILVER' | translate }}</option>
          <option value="bronze">🥉 {{ 'MODAL.BRONZE' | translate }}</option>
        </app-filter-select>
      </div>

    </div>

    <!-- Second Row (Search by Athlet/Country) -->
    <div class="mt-10">
      <label for="filter-search" class="mb-1 block text-xs font-medium text-gray-500">
        {{ 'PAGE.DETAILED.FILTER.SEARCH' | translate }}
      </label>
      <div class="relative flex items-center border-b border-gray-300">

        <img ngSrc="/assets/images/icons/search.svg" width="20" height="20" alt="Search Icon"
             class="absolute left-0 top-2.5 h-5 w-5 opacity-50"/>
        <input [ngModel]="searchQuery()" (ngModelChange)="searchQuery.set($event)" id="filter-search"
               type="text" [placeholder]="'PAGE.DETAILED.FILTER.SEARCH.PLACEHOLDER' | translate"
               class="w-full bg-transparent py-2 pl-8 text-gray-700 placeholder-gray-400 focus:outline-none">

      </div>
    </div>
  </div>

  <!-- Result Table -->
  <div class="bg-neutral-100 mb-8 md:mb-12 p-4 md:p-10 md:px-23 md:pb-6 border-neutral-200 border-t">
    <!-- Header stuff -->
    <div class="mb-8 flex flex-col items-start justify-between lg:flex-row md:items-center">
      <h2 class="text-4xl tracking-wide font-normal text-gray-900 mx-auto lg:mx-0 mb-4 lg:mb-0">
        @if (selectedView() === 'athletes') { {{ 'PAGE.DETAILED.ATHLETES.TITLE' | translate }} }
        @else { {{ 'PAGE.DETAILED.COUNTRIES.TITLE' | translate }} }
      </h2>

      @if (authService.isLoggedIn()) {
        <div class="flex justify-center gap-x-4 mx-auto lg:mx-0">
          <button class="flex items-center gap-2 rounded bg-purple-500 px-4 py-2 text-sm font-semibold text-white
                     transition hover:bg-purple-600 shadow-sm cursor-pointer">
            <img ngSrc="/assets/images/icons/upload.svg" width="16" height="16" alt="Chevron Down" class="invert" />
            {{ 'BUTTON.IMPORT' | translate }}
          </button>
          <button class="flex items-center gap-2 rounded bg-green-500 px-4 py-2 text-sm font-semibold text-white
                     transition hover:bg-green-600 shadow-sm cursor-pointer"
                  (click)="selectedView() === 'athletes' ? this.isAthleteModalOpen.set(true)
                                                         : this.isCountryModalOpen.set(true)">
            <img ngSrc="/assets/images/icons/plus.svg" width="16" height="16" alt="Chevron Down" class="invert" />
            {{ selectedView() === 'athletes' ? ('MODAL.ATHLETE.ADD.TITLE' | translate)
                                             : ('MODAL.COUNTRY.ADD.TITLE' | translate) }}
          </button>
        </div>
      }
    </div>

    <!-- Actual Table -->
    <div class="w-full overflow-y-auto max-h-150 border border-gray-200 rounded-lg shadow-sm relative">
      <table class="w-full min-w-150 table-auto text-left">
        <thead class="sticky top-0 z-10 bg-neutral-100 shadow-sm">
          <tr class="text-left text-xs text-gray-500 border-b border-gray-300">
            <th class="pl-2 w-12 text-sm leading-8 font-medium">{{ 'PAGE.DETAILED.TABLE.RANK' | translate }}</th>

            @if (selectedView() === 'athletes') {
              <th class="pl-2 text-sm leading-8 font-medium">{{ 'PAGE.DETAILED.TABLE.ATHLETE' | translate }}</th>
            }

            <th class="pl-2 text-sm leading-8 font-medium" [class.pl-2]="selectedView() === 'countries'">
              {{ 'PAGE.DETAILED.TABLE.COUNTRY' | translate }}
            </th>

            <th class="text-sm leading-8 font-medium">{{ 'PAGE.DETAILED.TABLE.MEDAL' | translate }}</th>

            @if (selectedView() === 'athletes') {
              <th class="text-sm leading-8 font-medium">{{ 'PAGE.DETAILED.TABLE.SPORTS' | translate }}</th>
            }

            @if (selectedView() === 'athletes') {
              <th class="text-sm leading-8 font-medium">{{ 'MODAL.ATHLETE.BESTTIME' | translate }}</th>
            }

            @if (authService.isLoggedIn()) {
              <th class="text-sm leading-8 font-medium">{{ 'PAGE.DETAILED.TABLE.ACTIONS' | translate }}</th>
            }
          </tr>
        </thead>

        <!-- Table Content -->
        <tbody class="text-sm">
          @if (selectedView() === 'athletes') {

            <!-- For Athlete View -->
            @for (athlete of filteredAthletes(); track athlete.id; let i = $index) {
              <tr class="group border-b border-gray-200/50 hover:bg-black/5 odd:bg-neutral-200/50 transition-colors">
                <td class="py-4 pl-2 pr-2 text-center">
                  @if (i === 0) { <span class="text-2xl" title="1">🏆</span> }
                  @else if (i === 1) { <span class="text-2xl" title="2">🥈</span> }
                  @else if (i === 2) { <span class="text-2xl" title="3">🥉</span> }
                  @else { <span class="text-sm font-medium text-gray-500">{{ '#' + (i + 1) }}</span> }
                </td>
                <td class="py-4 pl-2 pr-4 lg:pr-0 font-semibold text-gray-800 font-olympic-sans tracking-wide">{{ athlete.name }}</td>
                <td class="py-4 pr-4 lg:pr-0">
                  <app-table-country-badge [code]="athlete.countryCode" [name]="athlete.countryName" />
                </td>
                <td class="py-4 pr-4 lg:pr-0">
                  <app-table-medal-pills [medals]="athlete.medals" [activeFilter]="filterMedal()" />
                </td>
                <td class="py-4 pr-4 lg:pr-0 text-gray-600">{{ athlete.sport }}</td>
                <td class="py-4 pr-4 lg:pr-0 font-mono">
                  @if (athlete.bestTime) { {{ athlete.bestTime }} }
                  @else { <span class="text-gray-400">-</span> }
                </td>
                @if (authService.isLoggedIn()) {
                  <td class="py-4 pr-4 lg:pr-0">
                    <app-table-actions (edit)="onEditAthlete(athlete)" (delete)="onDeleteAthlete(athlete.id)" />
                  </td>
                }
              </tr>
            }

            @if (filteredAthletes().length === 0) {
              <td colspan="7" class="pl-2 text-start lg:text-center lg:pl-0 py-4">
                {{ 'PAGE.DETAILED.TABLE.EMPTY' | translate }}
              </td>
            }
          }

        <!-- For Country View -->
          @if (selectedView() === 'countries') {
            @for (country of filteredCountries(); track country.countryCode; let i = $index) {
              <tr class="group border-b border-gray-200/50 hover:bg-black/5 odd:bg-neutral-200/50 transition-colors">
                <td class="py-4 pl-2 pr-2 text-center">
                  @if (i === 0) { <span class="text-2xl" title="1">🏆</span> }
                  @else if (i === 1) { <span class="text-2xl" title="2">🥈</span> }
                  @else if (i === 2) { <span class="text-2xl" title="3">🥉</span> }
                  @else { <span class="text-sm font-medium text-gray-500">{{ '#' + (i + 1) }}</span> }
                </td>
                <td class="py-4 pl-2 font-semibold text-gray-800 tracking-wide">
                  <app-table-country-badge [code]="country.countryCode" [name]="country.countryName" />
                </td>
                <td class="py-4">
                  <app-table-medal-pills [medals]="country.medals" [activeFilter]="filterMedal()" />
                </td>

                @if (authService.isLoggedIn()) {
                  <td class="py-4">
                    <app-table-actions (edit)="onEditCountry(country)" (delete)="onDeleteCountry(country.countryId)" />
                  </td>
                }
              </tr>
            }

            @if (filteredCountries().length === 0) {
              <td colspan="5" class="pl-2 text-start lg:text-center lg:pl-0 py-4">
                {{ 'PAGE.DETAILED.TABLE.EMPTY' | translate }}
              </td>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Footer (At the end of the page) -->
<app-footer />

<!-- Modals -->
<app-modal-athlete [isOpen]="isAthleteModalOpen()" [countries]="countries()" [sports]="sports()"
                   [editData]="athleteEditData()" (addAthlete)="onAddAthlete($event)"
                   (closeModal)="isAthleteModalOpen.set(false); editingAthlete.set(null)"
                   (updateAthlete)="onUpdateAthlete($event)" />
<app-modal-country [isOpen]="isCountryModalOpen()" [editData]="countryEditData()"
                   (closeModal)="isCountryModalOpen.set(false); editingCountry.set(null)"
                   (addCountry)="onAddCountry($event)" (updateCountry)="onUpdateCountry($event)" />

<!-- Show confirmation popups -->
<app-alert-box />

