<div class="fixed bottom-6 left-0 right-0 flex items-center justify-center z-100 flex-col gap-3 pointer-events-none">
  @for (alert of alertService.alerts(); track alert.id) {
    <div @fadeInOut
         [class]="'flex items-start sm:items-center p-4 text-sm rounded-lg border pointer-events-auto cursor-pointer ' +
                  getAlertClasses(alert)"
         role="alert"
         (click)="alertService.dismiss(alert.id)">
      <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
           width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              [attr.d]="getIcon(alert)" />
      </svg>
      <p>
        <span class="font-medium">{{ alert.message }}</span>
      </p>
    </div>
  }
</div>
