<div @fadeInOut [class]="'flex items-start sm:items-center p-4 mb-4 text-sm rounded-lg border ' +
                          getConfig().bgColor + ' ' + getConfig().borderColor + ' ' + getConfig().textColor" role="alert">
  <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
       width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          [attr.d]="getConfig().iconPath" />
  </svg>
  <p>
    <span class="font-medium me-1">{{ title() }}</span>
    {{ message() }}
  </p>
</div>
