<div class="min-h-screen w-full flex bg-[#1e2d58] font-sans text-white">

  <!-- Left Side (Content Image) -->
  <div class="hidden lg:block w-1/2 relative overflow-hidden" [class.animation-slideInLeftToRight]="!skipEntryAnimation">
    <img ngSrc="/assets/images/bg-athlete.jpg" alt="Login Screen Image"
         class="object-cover w-full h-full" height="917" width="960" priority />

    <div class="absolute bottom-0 left-0 w-full h-1/3 bg-linear-to-t from-purple-500/40 to-transparent
                mix-blend-overlay"></div>
  </div>

  <!-- Right Side (Login Content) -->
  <div class="w-full lg:w-1/2 flex flex-col justify-center px-8 md:px-16 lg:px-24 py-12"
       [class.animation-slideInRightToLeft]="!skipEntryAnimation">

    <!-- Logo -->
    <div class="mb-8">
      <a routerLink="/" class="shrink-0 block pt-1">
        <img ngSrc="/assets/images/logo_color.svg" width="100" height="46" alt="Logo Icon" class="md:w-21.75 md:h-10" />
      </a>
    </div>

    <!-- Title -->
    <h1 class="text-4xl md:text-6xl font-extrabold mb-8 tracking-wide">
      {{ 'PAGE.LOGIN.TITLE' | translate }}
    </h1>

    <!-- Reasons to log-in -->
    <div class="space-y-8 mb-12">
      <div class="flex items-center gap-4">
        <div class="shrink-0 w-12 h-12 rounded-full border border-white/50 flex items-center justify-center">
          <img ngSrc="/assets/images/icons/plus.svg" width="25" height="25" alt="Chevron Down" class="invert" />
        </div>
        <p class="text-lg leading-snug">
          {{ 'PAGE.LOGIN.FEATURE1' | translate }}
        </p>
      </div>

      <div class="flex items-center gap-4">
        <div class="shrink-0 w-12 h-12 rounded-full border border-white/50 flex items-center justify-center">
          <img ngSrc="/assets/images/icons/plus.svg" width="25" height="25" alt="Chevron Down" class="invert" />
        </div>
        <p class="text-lg leading-snug">
          {{ 'PAGE.LOGIN.FEATURE2' | translate }}
        </p>
      </div>
    </div>

    <!-- Form Section -->
    <div class="w-full max-w-md">
      <h2 class="text-3xl font-bold mb-4 uppercase tracking-wider text-white/90">
        {{ 'PAGE.LOGIN.SUBTITLE' | translate }}
      </h2>

      @if (loginError()) {
        <div class="mb-4 p-3 bg-red-500/20 border border-red-500/50 rounded-lg text-red-200 text-sm">
          {{ loginError() }}
        </div>
      }

      <form (ngSubmit)="onLogin()" class="space-y-6">
        <!-- Email Input Group -->
        <div class="flex h-14">
          <input type="text" [placeholder]="'PAGE.LOGIN.INPUT.NAME' | translate" [(ngModel)]="loginData().username"
                 (ngModelChange)="miscService.updateField(this.loginData, 'username', $event)" name="email"
                 class="flex-1 bg-transparent border border-white/40 px-4 text-white
                        placeholder-white/70 focus:outline-none focus:border-white transition-colors" />
        </div>

        <!-- Password Input Group -->
        <div class="flex h-14">
          <input type="password" [placeholder]="'PAGE.LOGIN.INPUT.PASSWORD' | translate" [(ngModel)]="loginData().password"
                 (ngModelChange)="miscService.updateField(this.loginData, 'password', $event)" name="password"
                 class="flex-1 bg-transparent border border-r-0 border-white/40 px-4 text-white placeholder-white/70
                        focus:outline-none focus:border-white transition-colors" />
          <button type="submit" [disabled]="isLoading()"
                  class="bg-white hover:bg-neutral-300 text-[#1e2d58] px-6 font-medium transition-all duration-200
                         cursor-pointer disabled:bg-gray-600 disabled:cursor-not-allowed">
            {{ isLoading() ? '...' : ('HEADER.LOGIN' | translate) }}
          </button>
        </div>
      </form>

      <!-- Footer Link -->
      <div class="mt-8">
        <button (click)="onRegisterModalOpen();"
                class="text-white underline decoration-1 underline-offset-4 hover:text-gray-200
                       transition-colors cursor-pointer bg-transparent border-0 p-0">
          {{ 'BUTTON.REGISTER.LONG' | translate }}
        </button>
      </div>
    </div>

  </div>
</div>

<!-- Registration Modal -->
<app-modal-register [isOpen]="isRegisterModalOpen()" (closeModal)="this.isRegisterModalOpen.set(false);"
                    (registerUser)="onRegister($event)" />

<!-- Show register error -->
<app-alert-box />
