<!-- Header & Welcome Section -->
<app-header />
<app-breadcrumb />

<!-- Real Page Content -->
<section class="w-full md:max-w-3/4 bg-neutral-100 mx-auto mb-8 md:mb-12 p-4 md:p-10 md:px-23 md:pb-6
                border-neutral-200 border-t">

  <!-- Header (Title and Button) -->
  <div class="flex flex-col lg:flex-row lg:justify-between gap-4 mb-8 md:mb-12">
    <h2 class="text-xl md:text-2xl lg:text-3xl text-center lg:text-start leading-tight font-olympic-sans
               font-normal text-gray-900">
      {{ 'PAGE.HOME.TITLE' | translate }}
    </h2>

    <div class="flex flex-col lg:flex-row items-center gap-4 md:gap-6 justify-center lg:justify-end">
      <div class="w-full md:w-3/4 lg:w-48">
        <app-filter-select id="home-filter-sports" [(value)]="filterSport">
          <option value="all">{{ 'PAGE.DETAILED.FILTER.SPORTS.PLACEHOLDER' | translate }}</option>
          @for (sport of sports(); track sport.rawName) {
            <option [value]="sport.rawName">{{ sport.name }}</option>
          }
        </app-filter-select>
      </div>

      <a routerLink="/detailed" class="w-full md:w-auto">
        <button class="w-full md:w-auto bg-[rgb(215,195,120)] hover:bg-[#cfbc7e] text-white text-sm
                       md:text-base font-medium py-2 md:py-1.5 px-4 rounded shadow-sm transition-colors cursor-pointer">
          {{ 'PAGE.HOME.SUBTITLE' | translate }}
        </button>
      </a>
    </div>
  </div>

  <!-- Leaderboard (First Top 10) -->
  <div class="xl:grid xl:grid-cols-3 gap-4 lg:gap-6">
    @for (country of topCountries(); track country.countryCode) {
      <div class="bg-white p-4 md:p-6 rounded shadow-sm flex flex-col items-center mb-4 xl:mb-0"
           [class.sm:col-start-1]="country.rank === 10" [class.xl:col-start-2]="country.rank === 10"
           [class.sm:col-span-2]="country.rank === 10" [class.xl:col-span-1]="country.rank === 10"
           [class.mx-auto]="country.rank === 10" [class.w-full]="country.rank === 10">

        <div class="w-full flex items-center gap-2 mb-6 md:mb-8">
          <span class="font-semibold" [ngClass]="country.rank <= 3 ? 'text-3xl' : 'text-gray-500 text-lg'">
            @if (country.rank === 1) { 🏆 }
            @else if (country.rank === 2) { 🥈 }
            @else if (country.rank === 3) { 🥉 }
            @else { #{{ country.rank }} }
          </span>
        </div>

        <div class="w-46 h-43 rounded-full overflow-hidden border border-gray-100 shadow-sm mb-8 shrink-0">
          @if (!country.errorFlag) {
            <img [ngSrc]="'https://flagcdn.com/' + country.countryCode + '.svg'" width="172" height="172"
                 [alt]="country.countryName" (error)="country.errorFlag = true;" class="w-full h-full object-cover" />
          } @else {
            <div class="w-full h-full bg-gray-200 text-7xl text-black items-center flex justify-center
                        font-olympic-headline pt-2">?</div>
          }
        </div>

        <span class="text-gray-900 text-xl font-normal tracking-tight mb-4">{{ country.countryName }}</span>

        <div class="flex gap-3 text-sm text-gray-600">
          <app-table-medal-pills [activeFilter]="'all'"
                                 [medals]="{ gold: country.gold, silver: country.silver, bronze: country.bronze }" />
        </div>
      </div>
    }

    @if (topCountries().length === 0) {
      <p class="col-span-3 text-center text-gray-400 py-8">{{ 'PAGE.DETAILED.TABLE.EMPTY' | translate }}</p>
    }
  </div>

</section>

<!-- Footer (At the end of the page) -->
<app-footer />

<!-- Show Logged in message -->
<app-alert-box />
