.cookies {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in, opacity 300ms ease-in;

  @starting-style {
    transform: translateX(-110%);
    opacity: 0;
  }
}

.cookies.animation-leaving {
  transform: translateX(-110%);
  opacity: 0;
}
