@import 'tailwindcss';

@font-face {
  font-family: OlympicSans;
  src: url(/assets/fonts/OlympicSans-Regular-400.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: OlympicSans;
  src: url(/assets/fonts/OlympicSans-Regular-500.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: OlympicHeadline;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/OlympicHeadline-Condensed.woff2) format("woff2");
}

* {
  scrollbar-width: thin;
}

.font-olympic-sans, p, span, li, a {
  font-family: OlympicSans, Arial, sans-serif;
}

.font-olympic-headline, h1, h2, h3, h4, h5, h6 {
  font-family: OlympicHeadline, Arial, sans-serif;
}

html.paused *,
html.paused *::before,
html.paused *::after {
  animation-play-state: paused !important;
}

